# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

Forelesning21_Database/AfterLecture/01_Databasetest/\.idea/dataSources/9a7156c2-5ed2-4400-8b10-bd994b6976dd/storage_v2/_src_/database/dyrepark\.cqkTXQ/schema/

Forelesning21_Database/AfterLecture/01_Databasetest/\.idea/dataSources\.local\.xml

Forelesning21_Database/AfterLecture/01_Databasetest/\.idea/dataSources\.xml

Forelesning21_Database/AfterLecture/01_Databasetest/\.idea/dataSources/

Forelesning21_Database/BeforeLecture/01_Databasetest/\.idea/dataSources/
